/**
 * @author			Filipe Araujo
 *
 * @version			1.0
 * @since			1.0
 *
 * @lastChanges
 */

/**
 * @element			font-face
 */
@font-face {
  font-family: 'Franklin';
  src: url(../fonts/FRADMCN.ttf);
}

@font-face {
  font-family: 'Corbel';
  src: url(../fonts/corbelb.ttf);
}


/**
 * @element			article
 */
#orion-grid>article {
	color : #232323;
	float : left;
	font-family : Verdana, sans-serif;
	font-size : 11px;
}
	article section {
		background-color : #fff;
	}
	article section header,
	article section article,
	article section sidebar {
		/*background : #666;*/
	}
	article section header {
		display : block;
		height : 60px;
		margin-bottom : 10px;
	}
	article section sidebar {
		height : 710px;
	}

/*
 * @element			Cover
 */
#a0 section {
	background : url(../assets/cover/cover.jpg) center center no-repeat;
	background-size : 100%;
	position : relative;
}
	#a0 a.main {
		height : 200px;
		position : absolute;
		right : 10px;
		text-align : right;
		top : 140px;
		width : 225px;
	}
	#a0 a.main span {
		color : #564b62;
		display : block;
		font-family : 'Franklin';
		text-transform : uppercase;
	}
	#a0 a.main span:first-child {
		font-size : 29px;
		letter-spacing : -1px;
	}
	#a0 a.main span:nth-child(2) {
		font-size : 60px;
		letter-spacing : -1px;
		line-height : 38px;
	}
	#a0 a.main span:nth-child(3) {
		font-family : 'Corbel';
		font-size : 12px;
		margin-top : 8px;
	}
	#a0 a.main span:nth-child(4) {
		font-size : 54px;
		letter-spacing : -2px;
		line-height : 46px;
	}
	#a0 a.main span:nth-child(5) {
		font-size : 16px;
		font-family : 'Corbel';
		left : 105px;
		letter-spacing : -1px;
		position : absolute;
		top : 100px;
		-webkit-transform : rotate(45deg);
	}
	#a0 a.main span:nth-child(6) {
		font-family : 'Corbel';
		font-size : 12px;
		line-height : 10px;
	}
	#a0 a.main span:nth-child(7) {
		font-family : 'Corbel';
		font-size : 35px;
		letter-spacing : -1px;
		line-height : 26px;
	}


/*
 * @element			article 1
 */
#a1 {}
	#a1 section {
		position : relative;
	}
	#a1 header {
		height : 130px;
		padding : 40px 0 0 70px;
	}
		#a1 header h1 {
			color : #00aeef;
			font-size : 25px;
		}
		#a1 header h2 {
			color : #000;
			font-size : 35px;
			margin-top : 10px;
		}
	#a1 aside {
		float : left;
		font-size : 11px;
		line-height : 13px;
		margin : 0 20px 30px 30px;
		width : 160px;
	}
		#a1 aside img {
			margin-bottom : 30px;
			width : 160px;
		}
	#a1 article {
		font-family : Georgia;
		font-size : 10px;
		line-height : 12px;
		margin : 0 30px 30px 0;
		text-align : justify;
		-webkit-column-count: 2;
		-webkit-column-gap: 20px;
	}
		#a1 article p+p {
			text-indent : 15px;
		}
		#a1 article p:nth-child(7) {
			text-indent : 0;
		}
	#a1 .author {
		font-size : 12px;
		font-family : Verdana;
		position : absolute;
		right : 30px;
		bottom : 30px;
		text-align : right;
	}
		#a1 .author i {
			display : block;
			font-size : 10px;
			line-height : 18px;
		}

/*
 * @element			article 2
 */
#a2 {}
	#orion #a2 > .p1,
	#orion #a2 > .p2 {
		padding : 10px;
		width : 630px;
	}
		#a2 .p1 header,
		#a2 .p2 header{
			background : #666;
			color : #fff;
			height : 100px;
		}
		#a2 .p1 .orion-rotator {
			height : 600px;
			width : 630px;
		}
			#a2 .p1 .orion-rotator .orion-rotator-content {
				float : left;
			}
				#a2 .p1 .orion-rotator .orion-rotator-content,
				#a2 .p1 .orion-rotator .orion-rotator-content img {
					height : 520px;
					margin-right : 10px;
					width : 520px;
				}
			#a2 .p1 .orion-rotator .orion-rotator-nav {
				float : left;
				width : 100px;
			}
				#a2 .p1 .orion-rotator .orion-rotator-nav img,
				#a2 .p1 .orion-rotator .orion-rotator-nav li {
					height : 100px;
					margin-bottom : 5px;
					width : 100px;
				}
		#a2 > .p2 article {
			background : #666;
			color : #fff;
			float : left;
			width : 500px;
		}
		#a2 > .p2 sidebar {
			background : #666;
			color : #fff;
			float : right;
			width : 120px;
		}

/*
 * @element			article 3
 */
#a3 {}
	#orion #a3 > .p1,
	#orion #a3 > .p2 {
		padding : 10px;
		width : 630px;
	}
		#a3 .p1 article,
		#a3 .p1 header {
			background : #666;
			color : #fff;
		}
	#a3 .p2 {}
		#a3 .p2 article,
		#a3 .p2 header,
		#a3 .p2 sidebar {
			background : #666;
			color : #fff;
		}
		#a3 .p2 article {
			float : left;
			width : 500px;
		}
		#a3 .p2 header {
			height : 100px;
		}
		#a3 .p2 sidebar {
			float : right;
			width : 100px;
		}


/*
 * @element			article 4
 */
#a3 {}
	#orion #a3 > .p1 {
		padding : 10px;
		width : 630px;
	}
		#a3 .p1 header {
			background : #666;
			color : #fff;
			height : 100px;
		}