/**
 * @author			Filipe Araujo
 * 
 * @version			1.0
 * @since			1.0
 * 
 * @lastChanges		
 */

/**
 * @element			Orion Container
 * @layout
 */
#orion {
	height : 100%;
	overflow : hidden;
	position : relative;
	width : 100%;
}
	#orion.left {
		-webkit-transform : rotate(-90deg);
	}
	#orion.right {
		-webkit-transform : rotate(90deg);
	}
	#orion.inverse {
		-webkit-transform : rotate(180deg);
	}

/**
 * @element			Orion Content Container
 * @layout
 */
#orion-content {
	height : 100%;
	overflow : hidden;
	position : absolute;
	width : 100%;
	-moz-box-shadow: -3px 0 10px #222;
	-webkit-box-shadow: -3px 0 10px #222;
}
	#orion-content,
	#orion-content #orion-grid {
		-moz-transition-property : left top;
		-moz-transition-duration : .5s;
		-moz-transition-timing-function : ease-out, cubic-bezier(0.5, 0.2, 0.3, 1.0);
		-webkit-transition-property : left top;
		-webkit-transition-duration : .5s;
		-webkit-transition-timing-function : ease-out, cubic-bezier(0.5, 0.2, 0.3, 1.0);
	}
	#orion-content #orion-grid {
		cursor : move;
		position : absolute;
		width : 99999999px;
		-moz-transition-duration : .75s;
		-webkit-transition-duration : .75s;
	}

/**
 * @element			Orion Social Aside
 * @layout
 */
#orion-social {
	background : #444;
	left : -100px;
	position : absolute;
	width : 100px;
}
	#orion-social.default {
		left : 0;
	}
		#orion-social.default.open+#orion-content {
			z-index : 100;
			left : 100px;
		}
	#orion-social.slide {
		z-index : 100;
		-moz-transition-property : left top;
		-moz-transition-duration : .5s;
		-moz-transition-timing-function : ease-out, cubic-bezier(0.5, 0.2, 0.3, 1.0);
		-webkit-transition-property : left top;
		-webkit-transition-duration : .5s;
		-webkit-transition-timing-function: ease-out, cubic-bezier(0.5, 0.2, 0.3, 1.0);
	}
		#orion-social.slide.open {
			left : 0;
			-moz-box-shadow: 3px 0 10px #555;
			-webkit-box-shadow: 3px 0 10px #555;
		}

/**
* @section			 FeatureSet Orientation
* @layout
*/
.orientationX {}
	.orientationX section {
		float : left;
	}
.orientationY {}	
	.orientationY section {
		float : left;
		position : absolute;
	}
	.orientationY section:first-child {
		position : relative;	
	}
.orientationZ {}
	.orientationZ section {
		float : left;
	}